@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #eee;
  font-size: 18px;
  background-color: #222;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 20px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom: 2px solid #666;
}

.container {
  max-width: 500px;
  margin: auto;
}

header {
  text-align: center;
}

.content {
  padding: 40px;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 4px;
  margin-bottom: 25px;
}

.button {
  display: block;
  background-color: #666;
  text-align: center;
  text-decoration: none;
  color: #fff;
  padding: 15px;
  border-radius: 4px;
  transition: all .4s ease-in-out;
}

.button:hover,
.button:focus {
  background-color: #595959;
}

label,
input {
  display: block;
}

label {
  margin-bottom: 5px;
}

input {
  height: 40px;
  width: 100%;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
  border: 1px solid #333;
  background-color: #222;
  color:#eee;
}

input:focus {
  border: 1px solid #ed2424;
  outline: 0;
}

button#submit {
  padding: 8px 20px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background-color: #2b8bf9;
  border-color: #2b8bf9;
  border-radius: 4px;
  cursor: pointer;
  transition: all .4s ease-in-out;
}

button#submit:hover,
button#submit:focus {
  background-color: #0077fe;
  border-color:#0077fe;
}

video {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #222;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}


.char {
  color: #fcee56;
  font-size: 84px;
  font-weight: 700;
  line-height: 135px;
  transform-origin: center 50%;
  animation: wiggle-char 0.5s linear infinite both;
}

@keyframes wiggle-char {
  0%, 50%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  75% { transform: rotate(-2deg); }
}

.char:nth-child(1),
.char:nth-child(9),
.char:nth-child(12)
 {
  color: #0077fe;
}

.char:nth-child(2),
.char:nth-child(4),
.char:nth-child(8),
.char:nth-child(10),
.char:nth-child(13) {
  color: #ed2424;
}

.list-item {
  border-bottom: 2px solid #666;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.list-item span {
  display: block;
  line-height: 1.8;
}

.list-item img {
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
