@import url('https://fonts.googleapis.com/css?family=Oswald:700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #eee;
  font-size: 18px;
  background-color: #222;
}

h1 {
  font-family: 'Oswald', sans-serif;
}

.container {
  max-width: 500px;
  margin: auto;
}

header {
  text-align: center;
  padding: 0 50px;
}

.content {
  padding: 40px;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 4px;
}

label,
input {
  display: block;
}

label {
  margin-bottom: 5px;
}

input {
  height: 40px;
  width: 100%;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input::placeholder {
  color: #ccc;
}

button#submit {
  padding: 8px 20px;
  font-size: 18px;
}


.char {
  color: yellow;
  font-size: 84px;
  font-weight: 700;
  line-height: 135px;
  transform-origin: center 50%;
  animation: wiggle-char 0.5s linear infinite both;
}

@keyframes wiggle-char {
  0%, 50%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  75% { transform: rotate(-2deg); }
}

.char:nth-child(1),
.char:nth-child(9),
.char:nth-child(12)
 {
  color: blue;
}

.char:nth-child(2),
.char:nth-child(4),
.char:nth-child(8),
.char:nth-child(10),
.char:nth-child(13) {
  color: red;
}
